body {
    margin: 0;
    padding: 0;
    font-family: 'Homemade Apple';
    background-image:url(Assets/background4.jpeg);
    background-size: cover; /* Ensures the background covers the entire page */
    background-position: center; /* Centers the background image on the page */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Optional: Makes the background fixed during scroll */

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page {
    width: 400px;
    height: 600px;
    padding: 20px; /* Reduced padding from 30px to make margins narrower */
    background: #f0e5dd;
    border-left: 30px solid #ffa952;
    transform: rotate(-45deg) skewX(10deg) scale(.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.page h1 {
    margin: 0 0 10px 0; /* Optional: Adjusted bottom margin to make it narrower */
    padding: 0;
    text-align: center;
    font-size: 30px; /* Smaller font size for the title */
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
}

.page p {
    margin: 0;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0;
    text-align: justify;
    font-size: 14px; /* Smaller font size for the paragraph text */
}

.page:before {
    content: "";
    width: 30px;
    height: 100%;
    background: #d58d36;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-57px, -43px);
}

.page:after {
    content: "";
    width: 106%;
    height: 30px;
    background: #dec7ad;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewX(-45deg) translate(-11px, 30px);
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    color: rgb(255, 190, 166);
  }
  
  .previous, .next {
    position: fixed; /* Use fixed positioning */
    top: 50%; /* Center vertically */
    font-size: 40px; /* Increase font size */
    transform: translateY(-50%); /* Center relative to their height */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 10; /* Ensure they are above other content */
}

.previous {
    left: 50px; /* Align to the left side */
    color: white
}

/* Adding a bit of styling to make arrows round and bigger */
.round {
    border-radius: 50%;
    width: 48px; /* Set a specific width for roundness */
    height: 48px; /* Set a specific height for roundness */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
